{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% extends "template.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">Welcome to your dev test!</h1>

  <a href="/tasks/create" class="govuk-button">Create Task</a>

  {# Render tasks if present #}
  {% if tasks and tasks.length %}
    <h2 class="govuk-heading-l">Tasks</h2>
    {% for task in tasks %}
      {{ govukSummaryList({
        rows: [
          {
            key: { text: "ID" },
            value: { text: task.id },
            actions: {
              items: [
                {
                  href: "/tasks/" + task.id + "/change",
                  text: "Change",
                  visuallyHiddenText: "change task id"
                }
              ]
            }
          },
          {
            key: { text: "Title" },
            value: { text: task.title },
            actions: {
              items: [
                {
                  href: "/tasks/" + task.id + "/change-title",
                  text: "Change",
                  visuallyHiddenText: "change task title"
                }
              ]
            }
          },
          {
            key: { text: "Description" },
            value: { text: task.description },
            actions: {
              items: [
                {
                  href: "/tasks/" + task.id + "/delete",
                  text: "Delete",
                  visuallyHiddenText: "delete task description"
                },
                {
                  href: "/tasks/" + task.id + "/change-description",
                  text: "Change",
                  visuallyHiddenText: "change task description"
                }
              ]
            }
          },
          {
            key: { text: "Status" },
            value: { text: task.status }
          },
          {
            key: { text: "Due Date" },
            value: { text: task.dueDate }
          },
          {
            key: { text: "Created Date" },
            value: { text: task.createdDate }
          }
        ]
      }) }}
    {% endfor %}
  {% else %}
    <p>No tasks found.</p>
  {% endif %}
{% endblock %}
